.footer {
    background-color: #000; /* Usa el color del header */
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2271a1
  }
  
  .footer__content {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .footer__logo {
    width: 80px; /* Ajusta el tamaño del logo */
    height: auto;
  }
  
  .footer__text {
    color: white;
    font-size: 1rem;
  }
  
  