.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #000;
  color: white;
  border: 5px solid #2271D1;
}

.header__logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.header__nav {
  display: flex;
  gap: 2rem; /* Separar más los botones */
}

.header__button {
  background-color: #2271D1;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem; /* Botones más grandes */
  font-size: 1.2rem; /* Letras más grandes */
  font-weight: bold;
  border-radius: 10px; /* Bordes más redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones */
  width: 150px; /* Ancho fijo */
  height: 50px; /* Alto fijo */
  box-sizing: border-box; /* Incluir padding y border en el tamaño */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__button:hover {
  background-color: #1a5bb8;
  transform: scale(1.05); /* Efecto de agrandamiento al pasar el mouse */
}

.header__button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(34, 113, 209, 0.5);
}

@media screen and (max-width: 1024px) {
  .header {
    flex-direction: column;
    padding: 0.5rem;
  }
  .header h1{
    font-size: 18px;
  }

  .header__logo {
    font-size: 1.5rem;
  }

  .header__nav {
    flex-direction: column;
    gap: 1rem; /* Menos espacio entre los botones */
  }

  .header__button {
    width: auto; /* Ancho adaptativo */
    height: auto; /* Alto adaptativo */
    font-size: 1rem; /* Tamaño de letra más pequeño */
    padding: 0.5rem 1rem; /* Botones más compactos */
  }
}

/* Para celulares (max-width: 480px) */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 0.5rem;
    text-align: center;
  }

  .header__logo {
    font-size: 1.2rem;
  }

  .header__nav {
    flex-direction: column;
    gap: 0.5rem; /* Menos espacio entre los botones */
  }

  .header__button {
    width: 100%; /* Botones ocupan todo el ancho */
    font-size: 0.9rem; /* Tamaño de letra más pequeño */
    padding: 0.5rem; /* Botones más compactos */
  }
}
